body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5E1EF;
}

.card {
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 250px;
    margin: 15px;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px
  }
  
  .card h1 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }


  .card p {
    color: #666; 
    font-size: 15px;
  

  